.view div {
  display: flex;
  justify-content: space-evenly;
}

.view div button {
  border: 1px solid whitesmoke;
  padding: 0.5rem;
  background-color: white;
  box-shadow: 1px 2px 3px;
  color: #6464b7;
  border-radius: 0.5rem;
  outline: none;
  font-weight: bold;
  cursor: pointer;
}

.view div button:hover,
.view div button:focus-visible,
.view div button:focus-within {
  box-shadow: 3px 3px 6px;
  background-color: #dde9e9;
  color: #44448b;
}
